.bg-light{
    position: absolute;
    bottom: 0px;
    text-align: center;
    color: rgb(47, 84, 206);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 625px;         
   
    
}
.container{
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
}
.tabla{
    position: relative;
    margin-top: 50px;
    font-weight: bold;
    font-size: 4rem;
    color: rgb(11, 100, 45);
    font-family: 'Times New Roman', Times, serif;
}

.display-4 {
    color: rgb(11, 100, 45);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

