


.container{
    height: 350px;
    align-content: center;
    left: 80px;
    margin-top: 2cm;
    

  
    }
    
    .card{
    height: 350px;
    margin-top: auto;
    margin-bottom: auto;

   
   
    }
    
    .card-header h2{
    color: rgb(27, 110, 27);
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;

    }
    
    
    .form{
      text-align: center;
      position: relative;
      margin:10px;
    
    }
    
 
    
    .label{
      color: rgb(27, 110, 27);
      font-size: 20px;
      font-weight: bold;
      margin-left: 290px;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
    }
    .modal-title{
        color: rgb(27, 110, 27);
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    
    }

    
    
    
    